<?xml version="1.0" encoding="utf-8"?>
<!-- Installs not in Program files directory: https://chocolatey.org/docs/default-chocolatey-install-reasoning -->
<packages>
    <package id="googlechrome" />
    <package id="google-backup-and-sync" />
    <package id="qbittorrent" />
    <package id="7zip.install" />
    <package id="keepass.install" />
    <package id="plexmediaserver" />
    <package id="puntoswitcher" />
    <package id="avastfreeantivirus" />
    <package id="libreoffice-fresh" />
    <!--<package id="skype" />-->
    <!--<package id="notepadplusplus.install" />-->
    <!--<package id="sublimetext3" />-->
    <!--<package id="doublecmd" />-->
    <!--<package id="freecommander-xe.install" />-->
    <!--<package id="office365proplus" />-->
    <!--<package id="steam" />-->
    <!--<package id="f.lux" />-->
    <!--<package id="teamviewer" />-->
    <!--<package id="cmder" />-->
    <!--<package id="jdk8" />-->
    <!--<package id="intellijidea-ultimate" />-->
    <!--<package id="itunes" />-->
</packages>
