<?xml version="1.0" encoding="utf-8"?>
<!-- Installs not in Program files directory: https://chocolatey.org/docs/default-chocolatey-install-reasoning -->
<packages>
    <package id="googlechrome" />
    <package id="google-backup-and-sync" />
    <package id="sublimetext3" />
    <package id="skype" />
    <package id="utorrent" />
    <package id="7zip.install" />
    <package id="freecommander-xe.install" />
    <package id="puntoswitcher" />
    <package id="office365proplus" />
    <package id="keepass.install" />
    <package id="plexmediaserver" />
    <package id="steam" />
    <!--<package id="office365business" />-->
    <!--<package id="teamviewer" />-->
    <!--<package id="cmder" />-->
    <!--<package id="jdk8" />-->
    <!--<package id="intellijidea-ultimate" />-->
</packages>